@font-face{
    font-family:PressStart2P;
    src: url(media/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face{
    font-family:PermanentMarker;
    src: url(media/fonts/Permanent_Marker/PermanentMarker.ttf);
}
.hiddenText {
    font-family: PressStart2P;
    visibility: hidden;
    display: inline;
}
.hiddenText2 {
    font-family: PermanentMarker;
    visibility: hidden;
    display: inline;
}
body {
    background-image: url(media/image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.center{
    margin-left: 20.6667%;
    width: 66.6667%;
}
#game {
    width: 640px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

